html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
.cabecera{
    top:1px;
    width: 75%;
    color: black;
    font-size:25px;
    text-align: center;
    display: inline-block;
    font-style:Tahoma;
    font-size:2em;
    font-color:#ffffff;
    font-family:'Helvetica','Tahoma','Monaco',sans-serif;
}
.cabecera h2{
    opacity: 0.4;
    position: absolute;
    z-index: 1500;
    width:50%;
    left: 25%;
    height: 100%;
    min-height: 50px;
    height: 70px;
    background-color: white;
}
#mapa{
    height: 90%;
    width: 100%;
    border: solid 3px darkblue;
}
#geosoft{
    position: fixed;
    width: 280px;
    height: 80px;
    background-image: url("./imagenes/geosoft.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    border:solid rgba(255, 255, 255, 1.0) 3px;
    box-shadow: 0 1px 7px #999;
    bottom: 60px;
    left: 10px;
    z-index: 99999;
}